{% load static %}

html,
body {
    height: 100%;
    background-color: #f7f7f7;
}

.cib {
background-color: #18497A;
color: #FFFFFF;
}
.edrak {
background-color: #EDEDED;
}
.bbc {
  background-color: #173e43;
  color: #FFFFFF;
  }
  .edrak {
  background-color: #EDEDED;
  }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: 45px;
  padding: 10px;
  font-size: 16px;
  text-align: right;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  text-align: right;
}
input[type="text"] {

  text-align: right;
}

.h3{
  text-align: center;
}
