{% load static %}
    <nav class="navbar cib navbar-expand-md  navbar-dark sticky-top">
      <a href="#" class=" ml-0"><img src="{% static '/images/logo.png '%}" height="70" alt="CoolBrand"></a>
      <a class="navbar-brand ml-2" href="{% url 'home' %}">منارة الفاروق الإسلامية للغات</a>
      <button class="navbar-toggler navbar-toggler-right  " type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navb" class="navbar-collapse collapse hide text-right">
        <ul class="navbar-nav ml-auto ">
                {% url 'profile' as profile_url %}
                {% if user.is_authenticated and request.get_full_path != profile_url %}
                <li class="nav-item">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dashboard' %}">إستعلام مصروفات</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'recorded' %}">المصروفات المسجلة</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'agreement' %}">اشتراك الباص</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'password_change' %}">تغير كلمة المرور</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" onclick="$('#signOutBtn').click()" class="nav-link"><span class="fas fa-sign-in-alt"></span>  تسجيل خروج  </a>
                      <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                          {% csrf_token %}
                          <button id="signOutBtn" type="submit">  تسجيل خروج  </button>
                      </form>
                  </li>
                  {% endif %}
        </ul>
      </div>
    </nav>
