{% extends 'student/base.html' %}

{% block content %}
<!-- <style type="text/css">



</style> -->

<br>
<br>
<form method="POST" class="form-signin text-right">{% csrf_token %}
  <!-- <h4 class=" mb-3 font-weight-normal">تغير كلمة المرور</h4> -->
    <br>
    <input name="old_password" class="form-control" placeholder="كلمة المرور القديمة" type="password" id="id_old_password" required="true">
    <input name="new_password1" class="form-control" placeholder="كلمة المرور الجديدة" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="تأكيد كلمة المرور" type="password" id="id_new_password2" required="true">

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red;text-align: left; ">{{ error }}</p>
      {% endfor %}
    {% endfor %}

  <button class="btn btn-lg btn-primary btn-block cib mt-3" type="submit">تغيير</button>
</form>



{% endblock %}
