{% extends "student/base.html" %}

{% block content %}

  <div class="container-fluid text-right  ">
    <br>
    <br>
    {% if error %}
    <div class="row">
        <div class="col-md-7">
        </div>
        <div class="col-md-5">
            <div class="card text-right border-black ">
                <h6 class="card-header">
          {% if user.school == "بنين" %}
           مرحباً بالطالب
          {% else %}
           مرحباً بالطالبة
          {% endif %}
                </h6>
                <div class="card-body ">
                    <h6 class="card-text">
                        {{ user.username }}
                    </h6>
                </div>
                <div class="card-footer ">
            {{ user.get_grade_display }} - {{ user.school }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-5">

            <form method="POST" class="form-signin">
                {% csrf_token %}

                    <input type="text" name="father_mobile" class="form-control mb-3" placeholder="هاتف الأب" required="" maxlength="11" id="id_father_mobile">                  
                    <input type="text" name="mother_mobile" class="form-control mb-3" placeholder="هاتف الأم" required="" maxlength="11" id="id_mother_mobile">
                    <input type="text" name="phone_number" class="form-control mb-3" placeholder="هاتف المنزل" maxlength="8" id="id_phone_number">
                    <input type="email" name="email" class="form-control mb-3" placeholder="البريد الإلكتروني" required="" maxlength="60" id="id_email">
            {% if user.father_mobile != "" %}
                <div>
                    <a class="text-left" href="{% url 'password_change' %}">تغير كلمة المرور</a>
                </div>
            {% endif %}
                <button type="submit" class="btn btn-block mt-4 btn-primary cib ">حفظ البيانات</button>

            </form>
        </div>
    </div>
  </div>


{% endblock %}
