{% extends 'student/base.html' %}

{% block content %}


<div class="container-fluid  text-right">
  <div class="row justify-content-center mt-5">
      <div class="col-md-5 ">
          <h5> تسجيل ايصالات الدفع</h5>
          <hr>
      </div>
  </div>
  <div class="row justify-content-center  mt-5">
      <div class="col-md-5">
          {% if error %}
              <div class="alert alert-danger" role="alert">
                  {{ error }}
              </div>
          {% endif %}
          <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <!-- {{ form.kind }} -->
                  <label for="username">: مصروفات</label>
                  <!-- <input type="text" name="username" class="form-control" maxlength="7" id="username"> -->
                  <!-- <input type="number" name="value" min="0" class="form-control" required="" id="id_value"> -->
                  <select name="kind" required="" class="form-control" id="id_kind">
                    <option value="" selected="">---------</option>

                    <option value="دراسية">دراسية</option>
                    <<option value="باص">باص</option>

                  </select>
              </div>
              <div class="form-group">
                <!-- {{ form.value }} -->
                  <label for="username">: المبلغ</label>
                  <!-- <input type="text" name="username" class="form-control" maxlength="7" id="username"> -->
                  <input type="number" name="value" min="0" class="form-control" required="" id="id_value">
              </div>
              <div class="form-group">
                <!-- {{ form.bank_account }} -->
                  <label for="password">: رقم الحساب</label>
                  <!-- <input type="password" name="password" class="form-control" id="password"> -->
                  <select name="bank_account" required=""  class="form-control" id="id_bank_account">
                    <option value="" selected="">---------</option>
                    <option value="1903530354880500015">1903530354880500015</option>
                    <option value="1903530635939400011">1903530635939400011</option>
                    <option value="1903530776181400019">1903530776181400019</option>
                    <option value="1903530635939300017">1903530635939300017</option>
                    <option value="1903530709961400015">1903530709961400015</option>
                  </select>
              </div>
              <div class="form-group">
                <!-- {{ form.payment_date }} -->
                  <label for="password">: تاريخ الدفع</label>
                  <!-- <input type="password" name="password" class="form-control" id="password"> -->
                  <input type="date" name="payment_date" required="" class="form-control" id="id_payment_date">
              </div>
              <button type="submit" class="btn btn-primary cib">تسجيل ايصال الدفع</button>
          </form>

      </div>
  </div>
</div>
<!-- <br>
<br>
<div class="container-fluid ">
  <div class="row ">
    <div class="col-md-8  ">
    </div>
    <div class="col-md-4  text-right">
      <h6>عمليات السداد السابقة</h6>
    </div>
  </div>
  <div class="row "
  <div class="col-md-7 ">
  </div>
    <div class="col-md-5 ml-auto text-center ">
  		<table class="table table-hover">
  		  <thead>
  		    <tr>
  		      <th scope="col">تاريخ التسجيل</th>
            <th scope="col">المبلغ</th>
  		    </tr>
  		  </thead>
  		  <tbody>
           {% for fees in feess %}
  		    <tr>
  		      <td>{{ fees.created }}</td>
            <th scope="row">{{ fees.value }}</th>
           {% endfor %}
  		  </tbody>
  		</table>
    </div>
</div> -->
{% endblock %}
